<h2><%= link_to 'New question', new_test_question_path(@test.id) %></h2>

<h3>Questions for <%= @test.name %></h3>

<table class="table table-striped">
  <tr>
    <th>Question</th>
    <th>Answers</th>
    <th>Actions</th>
  </tr>

  <% @questions.each do |question| %>

      <tr>
        <td><%= link_to question.question, test_question_path(@test, question) %></td>
        <td><%= question.answers.count %></td>
        <td>
          <%= link_to 'Редактировать', edit_test_question_path(@test, question), class: 'btn btn-info btn-xs' %>
          <%= link_to 'Удалить', test_question_path(@test, question),
                      method: :delete,
                      data: {confirm: 'Are you sure?'},
                      class: 'btn btn-danger btn-xs'
          %>
        </td>
      </tr>
  <% end %>
</table>